[Unit]
Description=Disable BD PROCHOT

[Service]
ExecStart=/path/to/bdproc.sh -d
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
